link/Link.Service/Link.Zeta/Service References/EXPWSArticulos/ExpWSArticulos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="LIBRA" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdlns="LIBRA" xmlns:tns1="LIBRA" name="ExpWSArticulos" targetNamespace="LIBRA" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <document>
    <URL>http://201.221.29.3:8080/libra24/help/spanish/HLP_PExpWSArticulos.htm</URL>
    <line>Ok: retorna 0 si la operación se ejecutó correctamente, 1 en caso de error.</line>
    <line>Error: retorna la descripción del error ocurrido.</line>
    <line>Empid: identificación de la empresa en ZetaLibra.</line>
    <line>Emppassword: contraseña de la empresa en ZetaLibra.</line>
  </document>
  <types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" elementFormDefault="qualified" targetNamespace="LIBRA">
      <xsd:complexType name="ArticulosSDT">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ArticulosSDT.ArticuloItem" type="tns1:ArticulosSDT.ArticuloItem" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArticulosSDT.ArticuloItem">
        <xsd:all>
          <xsd:element name="Codigo" type="xsd:string" />
          <xsd:element name="Nombre" type="xsd:string" />
          <xsd:element name="Abreviacion" type="xsd:string" />
          <xsd:element name="CodigoCategoria" type="xsd:string" />
          <xsd:element name="CodigoFamilia" type="xsd:string" />
          <xsd:element name="CodigoMarca" type="xsd:string" />
          <xsd:element name="CodigoProveedor" type="xsd:string" />
          <xsd:element name="CodigoIVA" type="xsd:byte" />
          <xsd:element name="CuentaCompras" type="xsd:string" />
          <xsd:element name="CuentaVentas" type="xsd:string" />
          <xsd:element name="CuentaProduccion" type="xsd:string" />
          <xsd:element name="CodigoOrigen" type="xsd:string" />
          <xsd:element name="CodigoUnidad" type="xsd:string" />
          <xsd:element name="Web" type="xsd:string" />
          <xsd:element name="CodigoTexto" type="xsd:string" />
          <xsd:element name="Notas" type="xsd:string" />
          <xsd:element name="Activo" type="xsd:string" />
          <xsd:element name="ListaDePrecios" type="xsd:string" />
          <xsd:element name="UsaStock" type="xsd:string" />
          <xsd:element name="UsaLotes" type="xsd:string" />
          <xsd:element name="UsaVencimientos" type="xsd:string" />
          <xsd:element name="CodigoMonedaCostos" type="xsd:byte" />
          <xsd:element name="FechaCosto" type="xsd:string" />
          <xsd:element name="Costo" type="xsd:double" />
          <xsd:element name="PorcentajeUtilidad" type="xsd:double" />
        </xsd:all>
      </xsd:complexType>
      <xsd:element name="ExpWSArticulos.Execute">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Empid" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Emppassword" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Codigo" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Inciar" type="xsd:int" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Cantidad" type="xsd:int" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Fechaini" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Fechafin" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ExpWSArticulos.ExecuteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Ok" type="xsd:byte" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Error" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Articulos" type="tns1:ArticulosSDT" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="ExpWSArticulos.ExecuteSoapIn">
    <part name="parameters" element="tns1:ExpWSArticulos.Execute" />
  </message>
  <message name="ExpWSArticulos.ExecuteSoapOut">
    <part name="parameters" element="tns1:ExpWSArticulos.ExecuteResponse" />
  </message>
  <portType name="ExpWSArticulosSoapPort">
    <operation name="Execute">
      <input message="tns1:ExpWSArticulos.ExecuteSoapIn" />
      <output message="tns1:ExpWSArticulos.ExecuteSoapOut" />
    </operation>
  </portType>
  <binding name="ExpWSArticulosSoapBinding" type="tns1:ExpWSArticulosSoapPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Execute">
      <soap:operation soapAction="LIBRAaction/AEXPWSARTICULOS.Execute" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ExpWSArticulos">
    <port name="ExpWSArticulosSoapPort" binding="tns1:ExpWSArticulosSoapBinding">
      <soap:address location="http://201.221.29.3:8080/libra/servlet/aexpwsarticulos" />
    </port>
  </service>
</definitions>