link/Link.Service/Link.Zeta3/Service References/EXPWSPrecios/ExpWSPrecios1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="LIBRA" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdlns="LIBRA" xmlns:tns1="LIBRA" name="ExpWSPrecios" targetNamespace="LIBRA" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <document>
    <URL>http://localhost:8080/libra22/help/spanish/HLP_PExpWSPrecios.htm</URL>
    <line>Ok: retorna 0 si la operación se ejecutó correctamente, 1 en caso de error.</line>
    <line>Error: retorna la descripción del error ocurrido.</line>
    <line>Empid: identificación de la empresa en ZetaLibra.</line>
    <line>Emppassword: contraseña de la empresa en ZetaLibra.</line>
  </document>
  <types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" elementFormDefault="qualified" targetNamespace="LIBRA">
      <xsd:complexType name="PreciosSDT">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="PreciosSDT.PrecioItem" type="tns1:PreciosSDT.PrecioItem" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PreciosSDT.PrecioItem">
        <xsd:all>
          <xsd:element name="CodigoArticulo" type="xsd:string" />
          <xsd:element name="CodigoMoneda" type="xsd:byte" />
          <xsd:element name="CodigoPrecio" type="xsd:string" />
          <xsd:element name="PrecioSinIVA" type="xsd:double" />
          <xsd:element name="PrecioConIVA" type="xsd:double" />
        </xsd:all>
      </xsd:complexType>
      <xsd:element name="ExpWSPrecios.Execute">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Empid" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Emppassword" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Codigo" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Codigoarticulo" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ExpWSPrecios.ExecuteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Ok" type="xsd:byte" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Error" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Precios" type="tns1:PreciosSDT" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="ExpWSPrecios.ExecuteSoapIn">
    <part name="parameters" element="tns1:ExpWSPrecios.Execute" />
  </message>
  <message name="ExpWSPrecios.ExecuteSoapOut">
    <part name="parameters" element="tns1:ExpWSPrecios.ExecuteResponse" />
  </message>
  <portType name="ExpWSPreciosSoapPort">
    <operation name="Execute">
      <input message="tns1:ExpWSPrecios.ExecuteSoapIn" />
      <output message="tns1:ExpWSPrecios.ExecuteSoapOut" />
    </operation>
  </portType>
  <binding name="ExpWSPreciosSoapBinding" type="tns1:ExpWSPreciosSoapPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Execute">
      <soap:operation soapAction="LIBRAaction/AEXPWSPRECIOS.Execute" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ExpWSPrecios">
    <port name="ExpWSPreciosSoapPort" binding="tns1:ExpWSPreciosSoapBinding">
      <soap:address location="http://localhost:8080/libra/servlet/aexpwsprecios" />
    </port>
  </service>
</definitions>