link/Link.Service/Link.Zeta3/Service References/EXPWSClientes/ExpWSClientes1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="LIBRA" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdlns="LIBRA" xmlns:tns1="LIBRA" name="ExpWSClientes" targetNamespace="LIBRA" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <document>
    <URL>http://localhost:8080/libra22/help/spanish/HLP_PExpWSClientes.htm</URL>
    <line>Ok: retorna 0 si la operación se ejecutó correctamente, 1 en caso de error.</line>
    <line>Error: retorna la descripción del error ocurrido.</line>
    <line>Empid: identificación de la empresa en ZetaLibra.</line>
    <line>Emppassword: contraseña de la empresa en ZetaLibra.</line>
  </document>
  <types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" elementFormDefault="qualified" targetNamespace="LIBRA">
      <xsd:complexType name="ClientesSDT">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ClientesSDT.ClienteItem" type="tns1:ClientesSDT.ClienteItem" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ClientesSDT.ClienteItem">
        <xsd:all>
          <xsd:element name="Codigo" type="xsd:string" />
          <xsd:element name="Nombre" type="xsd:string" />
          <xsd:element name="RazonSocial" type="xsd:string" />
          <xsd:element name="RUT" type="xsd:string" />
          <xsd:element name="Documento" type="xsd:string" />
          <xsd:element name="CodigoPais" type="xsd:string" />
          <xsd:element name="CodigoDepartamento" type="xsd:string" />
          <xsd:element name="Localidad" type="xsd:string" />
          <xsd:element name="Direccion" type="xsd:string" />
          <xsd:element name="CodigoPostal" type="xsd:string" />
          <xsd:element name="CodigoZona" type="xsd:string" />
          <xsd:element name="Telefonos" type="xsd:string" />
          <xsd:element name="Celular" type="xsd:string" />
          <xsd:element name="Fax" type="xsd:string" />
          <xsd:element name="Email1" type="xsd:string" />
          <xsd:element name="Email2" type="xsd:string" />
          <xsd:element name="Web" type="xsd:string" />
          <xsd:element name="CodigoGrupo" type="xsd:string" />
          <xsd:element name="CodigoGiro" type="xsd:string" />
          <xsd:element name="CodigoOrigen" type="xsd:string" />
          <xsd:element name="CodigoPropietario" type="xsd:short" />
          <xsd:element name="Activo" type="xsd:string" />
          <xsd:element name="CodigoLocal" type="xsd:short" />
          <xsd:element name="CodigoCategoria" type="xsd:string" />
          <xsd:element name="CodigoCondicionPago" type="xsd:string" />
          <xsd:element name="CodigoPrecio" type="xsd:short" />
          <xsd:element name="Descuento1" type="xsd:double" />
          <xsd:element name="Descuento2" type="xsd:double" />
          <xsd:element name="Descuento3" type="xsd:double" />
          <xsd:element name="CodigoVendedor" type="xsd:string" />
          <xsd:element name="CodigoMonedaTope" type="xsd:byte" />
          <xsd:element name="TopeMontoCredito" type="xsd:double" />
          <xsd:element name="TopeDiasCredito" type="xsd:short" />
          <xsd:element name="CodigoCuenta" type="xsd:string" />
          <xsd:element name="CodigoTexto" type="xsd:string" />
          <xsd:element name="EsExento" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:element name="ExpWSClientes.Execute">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Empid" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Emppassword" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Codigo" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ExpWSClientes.ExecuteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Ok" type="xsd:byte" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Error" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Clientes" type="tns1:ClientesSDT" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="ExpWSClientes.ExecuteSoapIn">
    <part name="parameters" element="tns1:ExpWSClientes.Execute" />
  </message>
  <message name="ExpWSClientes.ExecuteSoapOut">
    <part name="parameters" element="tns1:ExpWSClientes.ExecuteResponse" />
  </message>
  <portType name="ExpWSClientesSoapPort">
    <operation name="Execute">
      <input message="tns1:ExpWSClientes.ExecuteSoapIn" />
      <output message="tns1:ExpWSClientes.ExecuteSoapOut" />
    </operation>
  </portType>
  <binding name="ExpWSClientesSoapBinding" type="tns1:ExpWSClientesSoapPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Execute">
      <soap:operation soapAction="LIBRAaction/AEXPWSCLIENTES.Execute" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ExpWSClientes">
    <port name="ExpWSClientesSoapPort" binding="tns1:ExpWSClientesSoapBinding">
      <soap:address location="http://localhost:8080/libra/servlet/aexpwsclientes" />
    </port>
  </service>
</definitions>