link/Link.Service/Link.Zeta3/Service References/IMPWSProveedor/ImpWSProveedor1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="LIBRA" xmlns:wsdlns="LIBRA" name="ImpWSProveedor" targetNamespace="LIBRA" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <document>
    <URL>http://localhost:8080/libra22/help/spanish/HLP_PImpWSProveedor.htm</URL>
    <line>Ok: retorna 0 si la operación se ejecutó correctamente, 1 en caso de error.</line>
    <line>Error: retorna la descripción del error ocurrido.</line>
    <line>Empid: identificación de la empresa en ZetaLibra.</line>
    <line>Emppassword: contraseña de la empresa en ZetaLibra.</line>
  </document>
  <types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" elementFormDefault="qualified" targetNamespace="LIBRA">
      <xsd:element name="ImpWSProveedor.Execute">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Empid" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Emppassword" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Codigo" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Nombre" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Razonsocial" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Rut" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Documento" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Codigopais" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Codigodepartamento" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Localidad" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Direccion" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Codigopostal" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Codigozona" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Telefonos" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Celular" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Fax" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Email1" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Email2" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Web" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Codigogrupo" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Codigogiro" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Codigoorigen" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Codigopropietario" type="xsd:short" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Activo" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Codigolocal" type="xsd:short" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Codigocategoria" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Codigocondicionpago" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Descuento1" type="xsd:double" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Descuento2" type="xsd:double" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Descuento3" type="xsd:double" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Codigocuenta" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Codigotexto" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ImpWSProveedor.ExecuteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Ok" type="xsd:byte" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Error" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="ImpWSProveedor.ExecuteSoapIn">
    <part name="parameters" element="wsdlns:ImpWSProveedor.Execute" />
  </message>
  <message name="ImpWSProveedor.ExecuteSoapOut">
    <part name="parameters" element="wsdlns:ImpWSProveedor.ExecuteResponse" />
  </message>
  <portType name="ImpWSProveedorSoapPort">
    <operation name="Execute">
      <input message="wsdlns:ImpWSProveedor.ExecuteSoapIn" />
      <output message="wsdlns:ImpWSProveedor.ExecuteSoapOut" />
    </operation>
  </portType>
  <binding name="ImpWSProveedorSoapBinding" type="wsdlns:ImpWSProveedorSoapPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Execute">
      <soap:operation soapAction="LIBRAaction/AIMPWSPROVEEDOR.Execute" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ImpWSProveedor">
    <port name="ImpWSProveedorSoapPort" binding="wsdlns:ImpWSProveedorSoapBinding">
      <soap:address location="http://localhost:8080/libra/servlet/aimpwsproveedor" />
    </port>
  </service>
</definitions>