link/Link.Service/Link.Zeta3/Service References/IMPWSArticulo/ImpWSArticulo1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="LIBRA" xmlns:wsdlns="LIBRA" name="ImpWSArticulo" targetNamespace="LIBRA" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <document>
    <URL>http://localhost:8080/libra22/help/spanish/HLP_PImpWSArticulo.htm</URL>
    <line>Ok: retorna 0 si la operación se ejecutó correctamente, 1 en caso de error.</line>
    <line>Error: retorna la descripción del error ocurrido.</line>
    <line>Empid: identificación de la empresa en ZetaLibra.</line>
    <line>Emppassword: contraseña de la empresa en ZetaLibra.</line>
  </document>
  <types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" elementFormDefault="qualified" targetNamespace="LIBRA">
      <xsd:element name="ImpWSArticulo.Execute">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Empid" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Emppassword" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Codigo" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Nombre" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Abreviacion" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Codigocategoria" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Codigofamilia" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Codigomarca" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Codigoproveedor" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Codigoiva" type="xsd:byte" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Cuentacompras" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Cuentaventas" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Cuentaproduccion" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Codigoorigen" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Codigounidad" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Web" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Codigotexto" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Notas" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Activo" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Listadeprecios" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Usastock" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Usalotes" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Usavencimientos" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Codigomonedacostos" type="xsd:byte" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Fechacosto" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Costo" type="xsd:double" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Porcentajeutilidad" type="xsd:double" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ImpWSArticulo.ExecuteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Ok" type="xsd:byte" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Error" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="ImpWSArticulo.ExecuteSoapIn">
    <part name="parameters" element="wsdlns:ImpWSArticulo.Execute" />
  </message>
  <message name="ImpWSArticulo.ExecuteSoapOut">
    <part name="parameters" element="wsdlns:ImpWSArticulo.ExecuteResponse" />
  </message>
  <portType name="ImpWSArticuloSoapPort">
    <operation name="Execute">
      <input message="wsdlns:ImpWSArticulo.ExecuteSoapIn" />
      <output message="wsdlns:ImpWSArticulo.ExecuteSoapOut" />
    </operation>
  </portType>
  <binding name="ImpWSArticuloSoapBinding" type="wsdlns:ImpWSArticuloSoapPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Execute">
      <soap:operation soapAction="LIBRAaction/AIMPWSARTICULO.Execute" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ImpWSArticulo">
    <port name="ImpWSArticuloSoapPort" binding="wsdlns:ImpWSArticuloSoapBinding">
      <soap:address location="http://localhost:8080/libra/servlet/aimpwsarticulo" />
    </port>
  </service>
</definitions>