link/Link.Service/Link.Zeta3/Service References/EXPWSComprobantesPendientes/ExpWSComprobantesPendientes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="LIBRA" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdlns="LIBRA" xmlns:tns1="LIBRA" name="ExpWSComprobantesPendientes" targetNamespace="LIBRA" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <document>
    <URL>http://localhost:8080/libra22/help/spanish/HLP_PExpWSComprobantesPendientes.htm</URL>
    <line>Ok: retorna 0 si la operación se ejecutó correctamente, 1 en caso de error.</line>
    <line>Error: retorna la descripción del error ocurrido.</line>
    <line>Empid: identificación de la empresa en ZetaLibra.</line>
    <line>Emppassword: contraseña de la empresa en ZetaLibra.</line>
  </document>
  <types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" elementFormDefault="qualified" targetNamespace="LIBRA">
      <xsd:complexType name="CmpPendientesSdt">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="CmpPendientesSdt.CmpPendientesItem" type="tns1:CmpPendientesSdt.CmpPendientesItem" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CmpPendientesSdt.CmpPendientesItem">
        <xsd:all>
          <xsd:element name="CodigoComprobante" type="xsd:short" />
          <xsd:element name="Serie" type="xsd:string" />
          <xsd:element name="Numero" type="xsd:long" />
          <xsd:element name="CodigoCliente" type="xsd:string" />
          <xsd:element name="Fecha" type="xsd:string" />
          <xsd:element name="CodigoMoneda" type="xsd:byte" />
          <xsd:element name="Total" type="xsd:double" />
          <xsd:element name="Pendiente" type="xsd:double" />
        </xsd:all>
      </xsd:complexType>
      <xsd:element name="ExpWSComprobantesPendientes.Execute">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Empid" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Emppassword" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Codigocliente" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ExpWSComprobantesPendientes.ExecuteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Ok" type="xsd:byte" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Error" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Comprobantespendientes" type="tns1:CmpPendientesSdt" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="ExpWSComprobantesPendientes.ExecuteSoapIn">
    <part name="parameters" element="tns1:ExpWSComprobantesPendientes.Execute" />
  </message>
  <message name="ExpWSComprobantesPendientes.ExecuteSoapOut">
    <part name="parameters" element="tns1:ExpWSComprobantesPendientes.ExecuteResponse" />
  </message>
  <portType name="ExpWSComprobantesPendientesSoapPort">
    <operation name="Execute">
      <input message="tns1:ExpWSComprobantesPendientes.ExecuteSoapIn" />
      <output message="tns1:ExpWSComprobantesPendientes.ExecuteSoapOut" />
    </operation>
  </portType>
  <binding name="ExpWSComprobantesPendientesSoapBinding" type="tns1:ExpWSComprobantesPendientesSoapPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Execute">
      <soap:operation soapAction="LIBRAaction/AEXPWSCOMPROBANTESPENDIENTES.Execute" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ExpWSComprobantesPendientes">
    <port name="ExpWSComprobantesPendientesSoapPort" binding="tns1:ExpWSComprobantesPendientesSoapBinding">
      <soap:address location="http://localhost:8080/libra/servlet/aexpwscomprobantespendientes" />
    </port>
  </service>
</definitions>