link/Link.Service/Link.Zeta3/Service References/IMPWSMovimiento/ImpWSMovimiento.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="LIBRA" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdlns="LIBRA" xmlns:tns1="LIBRA" name="ImpWSMovimiento" targetNamespace="LIBRA" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <document>
    <URL>http://localhost:8080/libra22/help/spanish/HLP_PImpWSMovimiento.htm</URL>
    <line>Ok: retorna 0 si la operación se ejecutó correctamente, 1 en caso de error.</line>
    <line>Error: retorna la descripción del error ocurrido.</line>
    <line>Empid: identificación de la empresa en ZetaLibra.</line>
    <line>Emppassword: contraseña de la empresa en ZetaLibra.</line>
  </document>
  <types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" elementFormDefault="qualified" targetNamespace="LIBRA">
      <xsd:complexType name="MovimientosSDT.MovimientoItem">
        <xsd:all>
          <xsd:element name="CodigoComprobante" type="xsd:short" />
          <xsd:element name="Serie" type="xsd:string" />
          <xsd:element name="Numero" type="xsd:long" />
          <xsd:element name="Fecha" type="xsd:string" />
          <xsd:element name="CodigoMoneda" type="xsd:byte" />
          <xsd:element name="Cotizacion" type="xsd:double" />
          <xsd:element name="CodigoCliente" type="xsd:string" />
          <xsd:element name="CodigoVendedor" type="xsd:string" />
          <xsd:element name="CodigoPrecio" type="xsd:short" />
          <xsd:element name="CodigoCondicionPago" type="xsd:string" />
          <xsd:element name="CodigoDepositoOrigen" type="xsd:short" />
          <xsd:element name="CodigoDepositoDestino" type="xsd:short" />
          <xsd:element name="FechaEntrega" type="xsd:string" />
          <xsd:element name="CodigoCentroCosto" type="xsd:string" />
          <xsd:element name="CodigoReferencia" type="xsd:string" />
          <xsd:element name="Notas" type="xsd:string" />
          <xsd:element name="TotalRecibo" type="xsd:double" />
          <xsd:element name="CodigoLocal" type="xsd:short" />
          <xsd:element name="CodigoUsuario" type="xsd:short" />
          <xsd:element name="CodigoCaja" type="xsd:short" />
          <xsd:element name="Lineas" type="tns1:ArrayOfMovimientosSDT.MovimientoItem.LineaItem" />
          <xsd:element name="FormasPago" type="tns1:ArrayOfMovimientosSDT.MovimientoItem.FormaPagoItem" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfMovimientosSDT.MovimientoItem.LineaItem">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="MovimientosSDT.MovimientoItem.LineaItem" type="tns1:MovimientosSDT.MovimientoItem.LineaItem" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MovimientosSDT.MovimientoItem.LineaItem">
        <xsd:all>
          <xsd:element name="CodigoArticulo" type="xsd:string" />
          <xsd:element name="Concepto" type="xsd:string" />
          <xsd:element name="CodigoLote" type="xsd:string" />
          <xsd:element name="Vencimiento" type="xsd:string" />
          <xsd:element name="Cantidad" type="xsd:double" />
          <xsd:element name="PrecioUnitario" type="xsd:double" />
          <xsd:element name="Descuento1" type="xsd:double" />
          <xsd:element name="Descuento2" type="xsd:double" />
          <xsd:element name="Descuento3" type="xsd:double" />
          <xsd:element name="Notas" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfMovimientosSDT.MovimientoItem.FormaPagoItem">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="MovimientosSDT.MovimientoItem.FormaPagoItem" type="tns1:MovimientosSDT.MovimientoItem.FormaPagoItem" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MovimientosSDT.MovimientoItem.FormaPagoItem">
        <xsd:all>
          <xsd:element name="CodigoFormaPago" type="xsd:byte" />
          <xsd:element name="CodigoMonedaPago" type="xsd:byte" />
          <xsd:element name="MontoMonedaPago" type="xsd:double" />
          <xsd:element name="MontoMonedaMovimiento" type="xsd:double" />
          <xsd:element name="Documento" type="tns1:MovimientosSDT.MovimientoItem.FormaPagoItem.Documento" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="MovimientosSDT.MovimientoItem.FormaPagoItem.Documento">
        <xsd:all>
          <xsd:element name="CodigoComprobante" type="xsd:short" />
          <xsd:element name="Serie" type="xsd:string" />
          <xsd:element name="Numero" type="xsd:long" />
          <xsd:element name="FechaEmision" type="xsd:string" />
          <xsd:element name="FechaVencimiento" type="xsd:string" />
          <xsd:element name="Concepto" type="xsd:string" />
          <xsd:element name="CodigoCaja" type="xsd:short" />
          <xsd:element name="CodigoBancoFinanciera" type="xsd:string" />
          <xsd:element name="Titular" type="xsd:string" />
          <xsd:element name="NumeroTarjeta" type="xsd:string" />
          <xsd:element name="AutorizacionTarjeta" type="xsd:string" />
          <xsd:element name="PlanTarjeta" type="xsd:string" />
          <xsd:element name="CodigoCtaBancaria" type="xsd:short" />
        </xsd:all>
      </xsd:complexType>
      <xsd:element name="ImpWSMovimiento.Execute">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Empid" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Emppassword" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Movimiento" type="tns1:MovimientosSDT.MovimientoItem" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ImpWSMovimiento.ExecuteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Ok" type="xsd:byte" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Error" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="ImpWSMovimiento.ExecuteSoapIn">
    <part name="parameters" element="tns1:ImpWSMovimiento.Execute" />
  </message>
  <message name="ImpWSMovimiento.ExecuteSoapOut">
    <part name="parameters" element="tns1:ImpWSMovimiento.ExecuteResponse" />
  </message>
  <portType name="ImpWSMovimientoSoapPort">
    <operation name="Execute">
      <input message="tns1:ImpWSMovimiento.ExecuteSoapIn" />
      <output message="tns1:ImpWSMovimiento.ExecuteSoapOut" />
    </operation>
  </portType>
  <binding name="ImpWSMovimientoSoapBinding" type="tns1:ImpWSMovimientoSoapPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Execute">
      <soap:operation soapAction="LIBRAaction/AIMPWSMOVIMIENTO.Execute" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ImpWSMovimiento">
    <port name="ImpWSMovimientoSoapPort" binding="tns1:ImpWSMovimientoSoapBinding">
      <soap:address location="http://localhost:8080/libra/servlet/aimpwsmovimiento" />
    </port>
  </service>
</definitions>